<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">&Agrave; propos</h2>
                <h3 class="section-subheading text-muted">Notre histoire</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Garder notre famille en bonne sant&eacute;</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous avons toujours voulu offrir des repas sains et vari&eacute;s &agrave; nos enfants. Aussi, nous voulons diminuer notre consommation de viande, mais sommes confront&eacute;s &agrave; la difficult&eacute;e de cr&eacute;er de bons repas v&eacute;g&eacute;tariens vari&eacute;s, et qui ne sont pas toujours des p&acirc;tes!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Arrive ma Belle-M&egrave;re</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Elle est originaire de Delhi, en Inde, et &agrave; chaque fois elle vient chez nous, nous apporte un repas v&eacute;g&eacute;rarien fraîchement pr&eacute;par&eacute;, que m&ecirc;me nos enfants adorent. Ce qui rend notre "service personnel de traiteur indien" sp&eacute;cial, c'est que les plats qu'elle nous nous mijote sont sains, et nous font d&eacute;couvrir une varit&eacute; de plats que nous ne voyons jamais aux restaurants indiens. De plus, du fait qu'elle cuisine sans ail, peu d'oignons, peu de cr&egrave;me ou d'huile, on ne fini pas avec les indigestions que nous avons parfois apr&egrave;s le resto!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive img-circle" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">&Agrave; propos du chef</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Elle a &eacute;t&eacute; une m&egrave;re au foyer pendant trente ans, et depuis que ses enfants ont quitt&eacute; la maison, elle a commenc&eacute; &agrave; penser &agrave; des activit&eacute;s pour se garder occup&eacute;e. Elle a eu quelques petits emplois ici et l&agrave; dans les derni&egrave;res ann&eacute;es, mais elle s'est toujours sentie plus utile lorsqu'elle nous aide. Elle veut d&eacute;penser son &eacute;nergie sur un projet o&ugrave; elle a un vrai talent: la cuisine v&eacute;g&eacute;tarienne indienne saine.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Un peu sur l'id&eacute;e</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Elle veut explorer l'id&eacute;e de d&eacute;marrer un service de pr&eacute;paration et de livraison de nourriture indienne. Chaque semaine, vous pouvez vous inscrire pour recevoir le repas de la semaine. Chaque repas comprend trois plats v&eacute;g&eacute;tariens et un riz basmati (ceci est en fait exactement ce qu'elle fait pour nous, et c’est un pur r&eacute;gal!). <a href="http://yogibelly.com/blog/menus/">Cliquez ici pour voir les menus pr&eacute;c&eacute;dents.</a> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Un peu sur le nom</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">La nourriture est inspir&eacute;e par des principes ayurv&eacute;diques (v&eacute;g&eacute;tarien, frais, de saison). La nourriture est saine.. La nourriture est d&eacute;licieuse. --> Yogi Belly.
                                </p>
                            </div>
                        </div>
                    </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>