<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">&Agrave; propos</h2>
                <h3 class="section-subheading text-muted">Notre histoire</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Garder notre famille en sant&eacute;</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous avons toujours voulu offrir des repas sains et variés à nos enfants tout en réduisant notre consommation de viande. Nous sommes toutefois confrontés à la même difficulté qu’éprouvent plusieurs familles: créer de bons repas végétariens variés qui ne sont pas toujours des pâtes demande du temps et de l'énergie!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Je vous pésente ma belle-m&egrave;re</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Elle est originaire de Delhi, en Inde, et à chacune de ses visites, elle nous apporte un repas végétarien fraîchement préparé, que même nos enfants adorent. Ce qui rend extraordinaire son service personnel de traiteur indien, c'est que les plats qu’elle nous mijote sont santé et qu'ils nous font découvrir une variété de mets que nous ne voyons jamais dans les menus des restaurants indiens. De plus, puis qu'elle cuisine en n’utilisant que très peu d'oignons, de crème ou d'huile - et pas du tout d'ail, on ne se sent jamais lourd comme parfois après le resto!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-responsive img-circle" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">&Agrave; propos du chef</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Elle a été une mère au foyer pendant trente ans, et depuis que ses enfants ont quitté la maison, elle a pratiqué diverses activités pour se garder occupée. Elle a eu quelques petits emplois ici et là dans les dernières années, mais c'est vraiment lorsqu'elle peut nous venir en aide qu'elle se sent utile. Yogi Belly représente pour elle une occasion de partager sa passion et son talent : la cuisine végétarienne indienne santé.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Le concept</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous offrons un service de préparation et de livraison de nourriture indienne. Chaque semaine, vous pouvez vous inscrire pour recevoir le repas de la semaine. Tous nos repas comprennent trois plats végétariens et un riz basmati (ce qui correspond exactement à ce que nous prépare ma belle-mère, et c’est un pur régal!). <!--<a href="http://yogibelly.com/blog/menus/">Cliquez ici pour voir les menus pr&eacute;c&eacute;dents.</a>--> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Un peu sur le nom</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">La nourriture que nous préparons s’inspire des principes ayurvédiques : (une cuisine végétarienne utilisant des ingrédients, frais, et de saison). Nos repas sont sains ET délicieux. Du bonheur dans votre ventre. Yogi Belly.
                                </p>
                            </div>
                        </div>
                    </li>
                        <!--<li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>