<section id="menu">
    <div class="container">
        <img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Menu de la semaine</h2>
            </div><br><br><br>
            <div class="col-lg-8 col-sm-offset-2">

              <h3 class="service-heading text-center text-white">Dry kala Chana masala</h3>
              <p class="text-white">Pois chiches noirs cuits avec des tomates, la coriandre, les graines de grenade, poivre et gingembre</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Ghiya Kofta Curry</h3>
              <p class="text-white">Ces brochettes végétariennes combinent la courge opo râpé, pommes de terre, le tofu et farine de pois chiche qui sont lentement mijotés dans une sauce parfumée au gingembre frais, le paprika, le curcuma, la cannelle et les feuilles de laurier</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Baingan Ki Subzi</h3>
              <p class="text-white">Les aubergines sont préparés dans une sauce aromatique de tomate à base de graines de cumin</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Riz Basmati</h3>
              <p class="text-white">Naturellement parfum&eacute;, riz à grains longs, pr&eacute;par&eacute; avec la coriandre</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Saunf</h3>
              <p class="text-white">Un m&eacute;lange de graines lisses et confits de fenouil à d&eacute;guster apr&egrave;s un repas complet pour leurs propri&eacute;t&eacute;s digestives</p>



              <br><br>
              <a href="http://yogibelly.com/blog/menus/" class="page-scroll btn btn-xl">Menus pr&eacute;c&eacute;dents</a>
          </div>
      </div>
  </div>
</section>