<section id="menu">
    <div class="container">
        <img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Menu de la semaine</h2>
            </div><br><br><br>
            <div class="col-lg-8 col-sm-offset-2">

              <h3 class="service-heading text-center text-white">Chana &amp; Kaali Masoor Daal</h3>
              <p class="text-white">Un daal r&eacute;confortant fait avec des pois chiches fendus Desi, une ancienne vari&eacute;t&eacute; de l&eacute;gumineuses et des lentilles noires</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Sarson Ka Saag</h3>
              <p class="text-white">Ceci est un plat particuli&egrave;rement populaire pendant l'hiver en Inde. Il est une combinaison d'&eacute;pinards, rapini et le brocoli, cuits lentement avec gingembre et des &eacute;pices fraîches. Si vous voulez profiter de la mani&egrave;re traditionnelle, ajouter un peu de beurre fondu avec du pain de maïs.</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Arbi Ki Subzi</h3>
              <p class="text-white">Edo, un l&eacute;gume-racine , est torr&eacute;fi&eacute; dans un m&eacute;lange &eacute;pic&eacute; de garam masala et le paprika</p>

              <br><br>
              <h3 class="service-heading text-center text-white">Riz Basmati</h3>
              <p class="text-white">Naturellement parfum&eacute;, riz à grains longs, pr&eacute;par&eacute; avec le curcuma</p>

              <br><br>
              <h3 class="service-heading text-center text-white">M&eacute;lange de Saunf</h3>
              <p class="text-white">Un m&eacute;lange de graines lisses et confits de fenouil à d&eacute;guster apr&egrave;s un repas complet pour leurs propri&eacute;t&eacute;s digestives</p>



              <br><br>
              <a href="http://yogibelly.com/blog/menus/" class="page-scroll btn btn-xl">Menus pr&eacute;c&eacute;dents</a>
          </div>
      </div>
  </div>
</section>