<section id="order">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Commander</h2>
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">

                <h2 class="service-heading text-center text-white">Journ&eacute;es de la livraison</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    Il y en a deux dates de livraison chaque semaine:
                    <ul style="list-style-type:circle">
                        <li>Mardis: Mile-End, Outremont, NDG</li>
                        <li>Mercredi: Plateau, Rosemont, autre</li>
                        <li>entre 16h et 19h</li>
                    </ul>

                </p>

                <br><br>



                <h2 class="service-heading text-center text-white">Comment passer la commande</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    <ul style="list-style-type:circle">
                        <li>email: <a href="mailto:mariepierre@yogibelly.com">mariepierre@yogibelly.com</a></li>
                        <li>t&eacute;l&eacute;phone: (514) 867-3473</li>
                        <li>Derni&egrave;re journ&eacute;e possible pour passer la commande pour la semaine suivante est samedi &agrave; minuit.</li>
                        <li>SVP nous aviser &agrave; propos des allergies ou des restrictions alimentaires.</li>
                    </ul>

                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Modes de paiement</h2>
                <h4 class="service-heading text-center text-white"></h4>

                <p class="text-white">
                    <ul style="list-style-type:circle">
                        <li>comptant</a></li>
                        <li>ch&egrave;que</li>
                        <li>virement interac</li>
                    </ul>

                </p>


            </div>
        </div>
    </div>
</section>