<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cette semaine</h2>
                <h4 class="section-heading text-muted"><i class="fa fa-bullhorn">   </i>        Le repas du 31 mai et 1er juin est <!--végétarien-->végétalien</h4>
                <!--<h4 class="section-subheading">Meal for March 15th and 16th is Vegetarian</h4>-->
            </div>
        </div>

        <br><br>
        
        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 text-center">
                <h4 class="section-heading text-muted">Ajoutez à votre commande certains de nos produits indiens préférés:
                </h4>
                <h4 class="section-heading text-muted">Pains naan – Délicieux pains naan congelés à griller à la maison : <br>Paquet de 5 pour 7$ </h4>
                <h4 class="section-heading text-muted">Ras malai – Dessert indien préparé avec du fromage frais : <br> 4 pour 6$ </h4>
            </div>
        </div>

        <br><br><br><br>


        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 text-center">
                <h2 class="section-subheading text-muted"> À quoi s'attendre si vous commandez avec Yogi Belly? Voice quelques exemples de nos menu précédents.
                </h2>
            </div>
        </div>
        <br><br>


        <div class="row text-center">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/ion-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Menu du 31 mai et 1er juin</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/ion-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Exemple d'un menu végétarien</p>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/fa-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Exemple d'un menu végétalien</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/fa-leaf.png" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Exemple d'un menu végétalien</p>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 text-center">
                <h2 class="section-subheading text-muted">Parmis nos plats préférés</h2>
            </div>
        </div>
        <br><br>
        <!-- 1st row of favorite ingredients-->
        <div class="row text-center">
            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb1.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Bhindi masala</p>
                </div>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb2.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Kaddu</p>
                </div>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb4.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Chana masala</p>
                </div>
            </div>



            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb5.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Patate douce et navet bharta</p>
                </div>
            </div>
        </div>

        <!-- 2nd row of favorite ingredients-->
        <div class="row text-center">
           <div class="col-md-3 portfolio-item">
            <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/cb6.jpg" class="img-responsive img-centered" alt="">
            </a>
            <div class="portfolio-caption">
                <!--<h4>{{ post.title }}</h4>-->
                <p class="text-muted">Saag</p>
            </div>
        </div>

        <div class="col-md-3 portfolio-item">
            <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="img/portfolio/cb7.jpg" class="img-responsive img-centered" alt="">
            </a>
            <div class="portfolio-caption">
                <!--<h4>{{ post.title }}</h4>-->
                <p class="text-muted">Khaadi</p>
            </div>
        </div>

            <!-- Add the extra clearfix for only the required viewport 
            <div class="clearfix visible-md-block"></div>-->

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb8.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Gajar mehthi</p>
                </div>
            </div>

            <div class="col-md-3 portfolio-item">
                <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cb3.jpg" class="img-responsive img-centered" alt="">
                </a>
                <div class="portfolio-caption">
                    <!--<h4>{{ post.title }}</h4>-->
                    <p class="text-muted">Portion suggérée</p>
                </div>
            </div>
        </div>

    </div>

</section>
