<section id="pricing">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Les prix</h2>
                Un d&eacute;p&ocirc;t de 5$ (remboursable) pour les bocaux de verre s'applique &agrave; toutes les options --> la durabilit&eacute; environnementale
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">

                <h2 class="service-heading text-center text-white">Premi&egrave;re option</h2>
                <h4 class="service-heading text-center text-white">Repas pour deux adultes</h4>

                <p class="text-white">
                    30$ pour deux portions d'adultes:
                    <ul style="list-style-type:circle">
                        <li>1 L de riz parfum&eacute; </li>
                        <li>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                    </ul>
                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Deuxi&egrave;me option</h2>
                <h4 class="service-heading text-center text-white">Repas pour la famille</h4>

                <p class="text-white">
                    $40 pour un repas familiale :
                    <ul style="list-style-type:circle">
                        <li>1 L de riz parfum&eacute; </li>
                        <li>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                        <li>3 x 250 ml de mets v&eacute;g&eacute;tariens pour vos enfants - ou vos lunchs le lendemain</li>
                    </ul>

                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Troisi&egrave;me option</h2>
                <h4 class="service-heading text-center text-white">4 x Repas pour la famille (Meilleur valeur!)</h4>

                <p class="text-white">Pr&eacute;payer 120$, et vous recevrez notre repas familial pendant quatre semaines:
                    <ul style="list-style-type:circle">
                        <li>1 L de riz parfum&eacute; </li>
                        <li>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                        <li>3 x 250 ml de mets v&eacute;g&eacute;tariens pour vos enfants - ou vos lunchs le lendemain</li>
                    </ul>
                    <strong>N.B.</strong> il n'y a pas de date d'expiration sur cet offre donc vous n'&ecirc;tes pas oblig&eacute; de commander pendant quatre semaines cons&eacute;cutives.</p>

                    <br><br>

                    <h2 class="service-heading text-center text-white">Livraison</h2>
                    <!--<h4 class="service-heading text-center text-white">Sign up for a Four week pass</h4>-->

                    <p class="text-white">La livraison est gratuite si vous habitez dans le Plateau, Mile-End ou Outremont. Des frais de 5$ s'applique &agrave; toute autre domaines.</p>

                    <br><br>
                </div>
            </div>
        </div>
    </section>