<section id="pricing">
    <div class="container">
        <!--<img src="img/about/5.jpg" class="img-responsive img-centered" alt="", height="132" width="132"><br><br>-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-muted">Les prix</h2>
                Un d&eacute;p&ocirc;t de 10$ (remboursable) pour les bocaux de verre s'applique &agrave; toutes les formules. Notre emballage est complètement réutilisable. Si vous commandez plus d'une fois, nous reprenons vos pots vides en vous apportant d'autres pots remplis de notre délicieuse nourriture.
            </div><br>
            <div class="col-lg-8 col-sm-offset-2">

                <h2 class="service-heading text-center text-white">Premi&egrave;re formule</h2>
                <h4 class="service-heading text-center text-white">Repas pour 2</h4>

                <p class="text-white">
                    30$ pour deux portions adultes:
                    <!--<ul style="list-style-type:circle">
                        <li>1 L de riz parfum&eacute; </li>
                        <li>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                    </ul>-->

                    <div class="list-group">
                        <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 1 L de riz parfum&eacute;</a>
                        <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 3 x 500 ml de plats v&eacute;g&eacute;tariens</a>
                    </div>
                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Deuxi&egrave;me formule</h2>
                <h4 class="service-heading text-center text-white">Repas pour 4</h4>

                <p class="text-white">
                    40$ pour un repas familial :
                    <!--<ul style="list-style-type:circle">
                        <li>1 L de riz parfum&eacute; </li>
                        <li>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                        <li>3 x 250 ml de mets v&eacute;g&eacute;tariens pour vos enfants - ou vos lunchs le lendemain</li>
                    </ul>-->

                    <div class="list-group">
                        <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 1 L de riz parfum&eacute;</a>
                        <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 3 x 500 ml de plats v&eacute;g&eacute;tariens</a>
                        <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 3 x 250 ml de plats v&eacute;g&eacute;tariens pour les enfants - ou les lunchs du lendemain</a>
                    </div>
                    <strong>Première commande?</strong> Communiquez avec nous pour une offre promotionnelle!</p>
                </p>

                <br><br>

                <h2 class="service-heading text-center text-white">Troisi&egrave;me formule</h2>
                <h4 class="service-heading text-center text-white">4 x Repas pour 4 (La meilleure formule!)</h4>

                <p class="text-white">Pr&eacute;payez 120$, et vous recevrez notre repas familial pendant quatre semaines:
                    <!--<ul style="list-style-type:circle">
                        <li>1 L de riz parfum&eacute; </li>
                        <li>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                        <li>3 x 250 ml de mets v&eacute;g&eacute;tariens pour vos enfants - ou vos lunchs le lendemain</li>
                    </ul>

                    <ul class="fa-ul">
                      <li><i class="fa-li fa fa-check-square"></i>1 L de riz parfum&eacute;</li>
                      <li><i class="fa-li fa fa-check-square"></i>3 x 500 mL de mets v&eacute;g&eacute;tariens</li>
                      <li><i class="fa-li fa fa-spinner fa-spin"></i>3 x 250 ml de mets v&eacute;g&eacute;tariens pour vos enfants - ou vos lunchs le lendemain</li>
                      <li><i class="fa-li fa fa-square"></i>in lists</li>
                  </ul>-->

                  <div class="list-group">
                    <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 1 L de riz parfum&eacute;</a>
                    <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 3 x 500 ml de plats v&eacute;g&eacute;tariens</a>
                    <a class="list-group-item"><i class="fa fa-check-square fa-fw"></i>&nbsp; 3 x 250 ml de plats v&eacute;g&eacute;tariens pour les enfants - ou les lunchs du lendemain</a>
                </div>


                <strong>À retenir : </strong> il n'y a pas de date d'expiration sur cette offre. Vous n'&ecirc;tes donc pas oblig&eacute; de commander pendant quatre semaines cons&eacute;cutives.</p>

                <br><br>

                <h2 class="service-heading text-center text-white">Livraison</h2>
                <!--<h4 class="service-heading text-center text-white">Sign up for a Four week pass</h4>-->

                <p class="text-white">La livraison est gratuite si vous habitez le Plateau-Mont-Royal, le Mile-End, Outremont ou Rosemont-La-Petite-Patrie. Des frais de 5$ s'appliquent pour une livraison au-delà de ces zones.</p>

                <br><br>
            </div>
        </div>
    </div>
</section>