<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Yogi Belly</h2>
                    <h3 class="section-subheading text-muted">Bouffe Indienne v&eacute;g&eacute;tarienne fait maison et inspir&eacute; par les principes Ayurv&eacute;diques </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Service traiteur Indienne</h4>
                    <p class="text-muted">Nous nous sp&eacute;cialisons dans la cuisine Indienne que vous ne trouverez pas dans un restaurant Indien typique: la citrouille, pois chiches noirs, aubergines farcies, eddo, racine de lotus, le melon amer, kebab de lentilles dans un curry &agrave; base de curcuma plus.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plats v&eacute;g&eacute;tariens sant&eacute;</h4>
                    <p class="text-muted">Nous avons toujours lutt&eacute; &agrave; obtenir nos enfants &agrave; manger une alimentation saine et vari&eacute;e , qui &eacute;tait non seulement le poulet et les bagels. De plus, nous essayons toujours de r&eacute;duire notre consommation de viande, mais sont souvent coinc&eacute;s dans notre planification des repas avec la tradition en Am&eacute;rique du Nord d'un plat de viande , entour&eacute; de quelques l&eacute;gumes ... ou des p&acirc;tes. Tous nos aliments sont 100% v&eacute;g&eacute;tariens (pas d'oeufs non plus). Beaucoup de nos plats sont &eacute;galement v&eacute;g&eacute;talien.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pagelines fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inspir&eacute; par les principes Ayurv&eacute;diques</h4>
                    <p class="text-muted">Bien que les principes Ayurv&eacute;diques sont ancr&eacute;es dans la cuisine indienne, la plupart de la nourriture servie dans les restaurants Indiens ne repr&eacute;sente pas cet ancien syst&egrave;me de bien-&ecirc;tre. Notre nourriture est inspir&eacute; par l'Ayurveda (Ayur = Vie, Veda = Science ). Le principe le plus important dans le r&eacute;gime Ayurv&eacute;dique est que votre nourriture est fra&icirc;che et de saison. Frais ne signifie toutefois pas cru. La meilleure sont fra&icirc;chement pr&eacute;par&eacute;s, repas entiers.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Notre engagement pour la durabilit&eacute; environnementale</h4>
                    <p class="text-muted">Nous livrons toute notre nourriture dans des bocaux de verre et des sacs r&eacute;utilisables afin que vous ne devez pas vous sentir coupable au sujet de l'emballage. S'il vous pla&icirc;t nous aider &agrave; garder &agrave; notre engagement envers la durabilit&eacute;: Gardez vos bocaux et sac. Nous allons les ramener &agrave; la livraison de votre prochaine commande!</p>
                </div>
            </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Livraison</h4>
                        <p class="text-muted">Nous offrons la livraison jusqu'au Plateau, Mile-End et Outremont. Des frais s'applique pour la livraison au d&eacute;la de ces zones.</p>
                    </div>
                <div>
            </div>
        </div>
    </section>