<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Yogi Belly</h2>
                <h3 class="section-subheading text-muted">C'est comme ca qu'on mange</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cuisine Indienne sant&eacute;, v&eacute;g&eacute; et fait &agrave; la maison</h4>
                <p class="text-muted">Nous aimons le poulet au beurre de restaurants Indiens aussi, mais ceci est quelque chose de diff&eacute;rent: notre priorit&eacute; est la nourriture Indienne saine vous pouvez manger tous les jours. Vous serez surpris de voir combien il est &agrave; la cuisine indienne que ce que vous trouverez dans les restaurants indiens . Nous esp&eacute;rons vous aider &agrave; d&eacute;couvrir comment les gens mangent vraiment dans une culture enracin&eacute;e dans la longue tradition de la cuisine v&eacute;g&eacute;tarienne .</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Laissez occupez de vos 'Meatless Mondays'</h4>
                <p class="text-muted">Manquez-vous des id&eacute;es pour ce faire cuire en essayant de manger moins de viande ? Avec YogiBelly vous aurez à essayer une vari&eacute;t&eacute; de nouveaux plats v&eacute;g&eacute;tariens : potiron , pois chiches noirs , squash, mini- aubergines farcies , edo , racine de lotus , le melon amer , brochettes de lentilles à tarte curcuma curry, ... et plus encore. Tous nos aliments sont 100 % v&eacute;g&eacute;tariens ( pas d'oeufs non plus). Beaucoup de nos plats sont &eacute;galement v&eacute;g&eacute;talien . ( Mise en garde: nous ne servons que mardi et mercredi pour le moment )</p>
            </div>

            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Z&eacute;ro d&eacute;chets</h4>
                <p class="text-muted">Nous livrons toute notre nourriture dans des bocaux de verre et des sacs r&eacute;utilisables afin que vous ne devez pas vous sentir coupable au sujet de l'emballage. S'il vous pla&icirc;t nous aider &agrave; garder &agrave; notre engagement envers la durabilit&eacute;: Gardez vos bocaux et sac. Nous allons les ramener &agrave; la livraison de votre prochaine commande!</p>
            </div>
        
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Livraison</h4>
            <p class="text-muted">Nous offrons la livraison jusqu'au Plateau, Mile-End et Outremont. Des frais s'applique pour la livraison au d&eacute;la de ces zones.</p>
        </div>

    </div>
</div>
</section>