<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Yogi Belly</h2>
                <h3 class="section-subheading text-muted">Mangez comme nous chez vous</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cuisine Indienne sant&eacute;, v&eacute;g&eacute;tarienne et faite maison</h4>
                <p class="text-muted">Notre priorit&eacute; est la nourriture indienne sant&eacute; vous pouvez manger &agrave; tous les jours. Vous serez surpris de voir &agrave; quel point la nourriture indienne est beaucoup plus vari&eacute;e que ce que l'on retrouve dans les menus des restaurants indiens. Nous voulons vous aider &agrave; d&eacute;couvrir une cuisine ancr&eacute;e dans une des plus longues traditions culinaires v&eacute;g&eacute;tariennes.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">On s'occupe de vos Lundis sans Viande</h4>
                <p class="text-muted">&Ecirc;tes-vous &agrave; court d'id&eacute;es pour vous concocter des menus sans viande? Avec YogiBelly vous pourrez d&eacute;guster une vari&eacute;t&eacute; de nouveaux plats v&eacute;g&eacute;tariens de la cuisine indienne: pois chiches noirs, courge calebasse, petites aubergines farcies, lotus, melon amer, pakoras &agrave; la farine de pois chiches dans une sauce au yogourt et citron ... et plus encore.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Qu'est ce qu'on mange?</h4>
                <p class="text-muted">Quand vous mangez avec nous, le repas est une surprise! Nous vous demandons de plonger avec nous dans l'expérience culinaire de Yogi Belly.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Vegane?</h4>
                <p class="text-muted">Nous voulons offrir un menu vegane de 2 à 3 fois par mois. Suivez-nous sur <a href="https://twitter.com/yogi_belly">Twitter</a>, <a href="https://www.instagram.com/yogi_belly/">Instagram</a> ou cliquez sur le lien <a href="#portfolio">Cette Semaine</a> afin de voir si nous aurons un menu vegane cette semaine! 
            </div>
        </div>    

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Z&eacute;ro d&eacute;chet</h4>
                <p class="text-muted">Nous livrons toute notre nourriture dans des bocaux de verre et des sacs r&eacute;utilisables afin que vous ne vous sentiez pas coupable au sujet de l'emballage. Nous compostons aussi tous les r&eacute;sidus organiques.</p>
            </div>

            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Livraison</h4>
                <p class="text-muted">Nous offrons la livraison sans frais sur le Plateau Mont-Royal, le Mile-End,  Outremont et Rosemont. Des frais s'appliquent pour la livraison au del&agrave; de ces zones.</p>
            </div>

        </div>
    </div>
</section>